@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for black radio buttons */
input[type="radio"] {
  accent-color: black;
}

input[type="radio"]:checked {
  background-color: black;
  border-color: black;
}
